@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(144, 187, 197);
  --primary-color-darker: rgb(25, 173, 202);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border-style: solid;
  border-radius: 10px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
 
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.container{
  text-align: justify
}
.button {
  background-color: rgb(144, 187, 197);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: solid;
  border-radius: 10px;
}

.paragrafo-resultado, .bad{
  background-color:rgb(25, 173, 202);
  padding: 10px 20px;
  color: white;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

.bad{
  background-color:rgb(202, 31, 25);
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}

